name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        go:
          - '1.20'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}

      - name: Go build
        run: make

  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        k8s:
          - v1.19.16
          - v1.20.15
          - v1.21.12
          - v1.22.15
          - v1.23.13
          - v1.24.12
          - v1.25.8
          - v1.26.3
          - v1.27.0
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up KIND cluster
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.14.0"
          image: "kindest/node:${{ matrix.k8s }}"

      - name: Install kustomize
        env:
          GITHUB_TOKEN: ${{ secrets.GHCR_TOKEN }}
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/kustomize/v5.0.3/hack/install_kustomize.sh" | bash -s -- 4.5.7
          sudo mv kustomize /usr/local/bin/kustomize

      - name: E2E Test
        run: |
          make e2e-test
